@font-face {
  font-family: "switzer-extraLight";
  src: url("../fonts/Switzer-Extralight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "switzer-light";
  src: url("../fonts/Switzer-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "switzer-regular";
  src: url("../fonts/Switzer-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "switzer-medium";
  src: url("../fonts/Switzer-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "switzer-semibold";
  src: url("../fonts/Switzer-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oranienbaum-regular";
  src: url("../fonts/Oranienbaum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1420px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  border: none;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
}
.h-532 {
  height: 532px;
}
.w-380 {
  width: 380px;
}
.w-600 {
  width: 600px;
}
.w-784 {
  width: 784px;
}

/* ---
  margin, padding, line height
  --- */
.mx-auto {
  margin: 0 auto;
}
.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-41 {
  margin-top: 41px;
}
.mt-52 {
  margin-top: 52px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-104 {
  margin-top: 104px;
}
.mt-122 {
  margin-top: 122px;
}
.mt-173 {
  margin-top: 173px;
}
.mt-230 {
  margin-top: 230px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-78 {
  margin-bottom: 78px;
}
.mb-148 {
  margin-bottom: 148px;
}
.mb-172 {
  margin-bottom: 172px;
}
.-mb-6 {
  margin-bottom: -6px;
}
.-mb-28 {
  margin-bottom: -28px;
}
.ml-18 {
  margin-left: 18px;
}
.ml-54 {
  margin-left: 54px;
}
.ml-125 {
  margin-left: 125px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-54 {
  margin-right: 54px;
}
.pt-28 {
  padding-top: 28px;
}
.pt-78 {
  padding-top: 78px;
}
.pt-104 {
  padding-top: 104px;
}
.pt-125 {
  padding-top: 125px;
}
.pb-120 {
  padding-bottom: 120px;
}
.pb-172 {
  margin-bottom: 172px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-96 {
  padding-right: 96px;
}
.pr-110 {
  padding-right: 110px;
}
.pl-75 {
  padding-left: 75px;
}
.pl-125 {
  padding-left: 125px;
}
.pl-328 {
  padding-left: 328px;
}
.line-height-0 {
  line-height: 0;
}
.line-height-22 {
  line-height: 42px;
}
.line-height-65 {
  line-height: 65px;
}
/* ---
  text
  --- */

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: white;
}
.text-secondary {
  color: #75ff69;
}
.text-tertiary {
  color: #1b3936;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-64 {
  font-size: 64px;
}
.font-size-68 {
  font-size: 68px;
}
.font-size-100 {
  font-size: 100px;
}
.font-switzer-extralight {
  font-family: "switzer-extralight";
  font-weight: 200;
}
.font-switzer-regular {
  font-family: "switzer-regular";
  font-weight: 400;
}
.font-switzer-medium {
  font-family: "switzer-medium";
  font-weight: 500;
}
.font-boska-regular {
  font-family: "Boska", serif;
  font-weight: 400;
}
.font-boska-bold {
  font-family: "Boska", serif;
  font-weight: 700;
}
.font-switzer-light {
  font-family: "switzer-light";
  font-weight: 300;
}
.font-oranienbaum-regular {
  font-family: "oranienbaum-regular";
  font-weight: 400;
}

/* ---
  more 
  --- */
.bg-white {
  background: white;
}
.bg-color-main {
  background: #1b3936;
}
.bg-color-secondary {
  background: #75ff69;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: end;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
